hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

img {
  width: auto;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.exercise-columns ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  column-gap: 2rem;
  padding-left: 1.2rem; /* keeps bullet alignment tidy */
}

.exercise-columns li {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

@media (max-width: 900px) {
  .exercise-columns ul {
    columns: 2;
  }
}

@media (max-width: 600px) {
  .exercise-columns ul {
    columns: 1;
  }
}

@media (min-width: 1200px) {
  .exercise-columns ul {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
  }
}

@media (min-width: 900px) {
  .wrapper {
    max-width: 1200px;   
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
  text-align: center;
}

table th,
table td {
  text-align: center;
  vertical-align: middle;
}

mjx-container[display="true"] {
  display: block;
  text-align: left !important;
  margin: 1.2em 0 1.2em 1.5rem !important;
}

mjx-container[display="true"] > svg,
mjx-container[display="true"] > mjx-math {
  max-width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  mjx-container[display="true"] > svg,
  mjx-container[display="true"] > mjx-math {
    max-width: none;
  }
}

@media (max-width: 900px) {
  .wrapper,
  .page-content {
    width: 100%;
    max-width: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 900px) and (orientation: portrait) {
  .page-content {
    max-width: 95vw;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .page-content {
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }
}


